@import "./partial/reset";
@import "./partial/fonts";
@import "./partial/animations";
@import "./partial/mixins";
@import "./partial/variables";

#root {
  max-width: $maxWidth;
  text-align: center;
  margin: 0 auto;
  padding: 20px;

  border: 1px solid red;

  h1 {
    font-family: "StardosStencil-Bold", sans-serif;
    color: red;
    @include init-font(42px, 700);
  }

  p {
    color: blue;
  }
}

