@font-face {
  font-family: "EuroFontC";
  font-weight: normal;
  font-style: normal;
  src: local('☺');
  src: url('../fonts/EuroFontC/EuroFontC.otf') format("truetype");
}

@font-face {
  font-family: "StardosStencil-Regular";
  font-weight: normal;
  font-style: normal;
  src: local('☺');
  src: url("../fonts/StardosStencil-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  src: local('☺');
  src: url('../fonts/Montserrat/Montserrat-Regular.otf') format("truetype");
}

@font-face {
  font-family: "Vollkorn-Regular";
  font-weight: normal;
  font-style: normal;
  src: local('☺');
  src: url('../fonts/Vollkorn/Vollkorn-Regular.ttf') format("truetype");
}