@font-face {
  font: {
    family: "EuroFontC";
    weight: normal;
    style: normal;
  }
  src: local('☺');
  src: url("../fonts/EuroFontC/EurofontC.otf") format("truetype");
}

@font-face {
  font: {
    family: "Montserrat-Regular";
    weight: bold;
    style: normal;
  }
  src: local('☺');
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font: {
    family: "StardosStencil-Bold";
    weight: bold;
    style: normal;
  }
  src: local('☺');
  src: url("../fonts/Stardos/StardosStencil-Bold.ttf") format("truetype");
}